#skills{
    width: 100%;
    height: 100%;
}

.radical-circular{
    height: 100vh;
    background: repeating-radial-gradient(rgba(0,0,0,0.4) 2px, #f5f5f5 5px, #f5f5f5 70px);
}

.skills-text{
    font-size: 1vw;
}

.center-skill{
    font-size: 1.5vw;
}

.skills-text:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: all 0.5s;
}

.center-skill:hover{
    background-color: white;
    color: black;
    border: 2px black solid;
    transition: all 0.5s;
}

@media (max-width: 750px){
    .skills-h2{
        font-size: 30px;
    }
}