
.nav-container{
    background-color: rgb(24, 16, 16);
    position: fixed;
    top: 0;
}

/* Link = a */
a:hover{
    color: rgb(203, 79, 79);
    border-bottom: 2px solid white;
}

.active{
    color: rgb(203, 79, 79);
    border-bottom: 2px solid white;
}

.mobile-menu{
    position: absolute;
    top: 80px;
    width: 70%;
    height: 100vh;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s;
    background-color: rgb(22, 4, 4);
}

.activemobile{
    transform: translateX(0%);
}

.hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: none;
    cursor: pointer;
}

.ham{
    width: 35px;
    height: 2px;
    background-color: aquamarine;
}

/* hamburger cross animation */
.activeham .ham:nth-child(1){
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.activeham .ham:nth-child(2){
    opacity: 0;
}

.activeham .ham:nth-child(3){
    transform: rotate(-45deg);
    position: relative;
    top: -12px;
}

@media (max-width:700px) {
    .desktop-menu{
        display: none;
    }
    .hamburger{
        display: flex;
    }
    .nav-container{
        justify-content: space-between;
        
    }
}