
.logo{
    width: 50px;
    height: 50px;
    border: 1px white solid;
}

#logo-text{
    background: linear-gradient(rgb(37, 35, 30),rgb(8, 215, 8), rgb(98, 10, 10));
    background-clip: text;
    color: transparent;
}