
#about{
    width: 100%;
    height: 100%;
    display: flex;
}

.left-about{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle{
    width: 80px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    box-shadow: 2px 2px 40px rgb(230, 195, 195);
}

.line{
    width: 2px;
    height: 100px;
    background-color: aliceblue;
}