
#home{
    width: 100%;
    height: 100%;
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

/* left home styling............. */
.left-home{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: rgb(27, 26, 26);
}

.left-home img{
    max-width: 280px;
    border: 3px solid rgb(202, 80, 80);
    padding: 10px;
    border-radius: 20px;
}

.left-home #type-writer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2vmax;
    color: rgb(221, 166, 94);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(62, 45, 12),rgb(235, 218, 218), rgb(214, 39, 39));
    background-clip: text;
    color: transparent;
}

/* left home styling end */

/* rith home styling start.................. */

.right-home{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}



#btn:hover{
    background-color: rgb(29, 28, 27);
    border: 2px solid white;
    color: white;
    transition: all 0.5s;
}

@media (max-width: 700px){
    #home{
        flex-direction: column;
    }
    .left-home{
        width: 100%;
    }
    .left-home img{
        width: 90%;
    }
    .left-home #type-writer{
        font-size: 30px;
    }
}


