
#home{
    height: 100%;
    background-color: rgb(29, 28, 27);
    display: flex;
}

.left-home{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    padding-left: 120px;
}

.home-details{
    font-size: 2vmax;
}

.line1{
    font-size: 0.8em;
}
.line2{
    font-size: 2.5em;
    background: linear-gradient(rgb(158, 9, 9),rgb(151, 132, 132),rgb(236, 39, 39));
    background-clip: text;
    color: transparent;
    font-weight: 600;
}
.line3{
    font-size: 1em;
}

#btn:hover{
    background-color: rgb(29, 28, 27);
    border: 2px solid white;
    color: white;
    transition: all 0.5s;
}

.right-home{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-home img{
    width: 50%;
    filter: drop-shadow(2px 2px 20px rgb(179, 141, 141));
}

@media (max-width: 700px){
    #home{
        flex-direction: column-reverse;
    }
    .right-home{
        width: 100%;
        height: 60vh;
        align-items: end;
    }
    .left-home{
        width: 100%;
        height: 40vh;
        margin: 0 auto;
        padding-left: 28vw;
        .home-details{
            font-size: 20px;
        }
    }
}

@media (max-width: 610px){
    #home{
        flex-direction: column-reverse;
    }
    .right-home{
        width: 100%;
        height: 55vh;
        align-items: end;
    }
    .left-home{
        width: 100%;
        height: 45vh;
        margin: 0 auto;
        padding-left: 25vw;
        .home-details{
            font-size: 20px;
        }
    }
}

@media (max-width: 550px){
    #home{
        flex-direction: column-reverse;
    }
    .right-home{
        width: 100%;
        height: 50vh;
        align-items: end;
    }
    .left-home{
        width: 100%;
        height: 50vh;
        align-items: start;
        margin: 0 auto;
        padding-left: 27vw;
        .home-details{
            font-size: 15px;
        }
    }
}

@media (max-width: 435px){
    #home{
        flex-direction: column-reverse;
    }
    .right-home{
        width: 100%;
        height: 45vh;
        align-items: end;
    }
    .left-home{
        width: 100%;
        height: 62vh;
        align-items: start;
        margin: 0 auto;
        padding-left: 26vw;
        margin-top: -30px;
        .home-details{
            font-size: 4vw;
        }
    }
}

